<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Hello From Home Page Ji.</h1>
    <a href="/signup">
        <h3>signup</h3>
    </a>
    <a href="/login">
        <button>login</button>
    </a>
    <a href="/add">
        <button>Add Hospitals</button>
    </a>
    
    <a href="/admin/register">
        <button>Admin register</button>
    </a>
    <a href="/adminlogin">
        <button>Admin login</button>
    </a>
</body>
</html>